.App {
  text-align: center;
  background: url(./assets/img/cards-symbol.png);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* main */

.Main.open{
  animation: bounce-in 1s ease;
}
.Main.close{
  animation: bounce-out 1s ease-in;
}
@keyframes bounce-in{
  0%    {opacity: 1;   transform: scale(1);}
  100%  {opacity: 1;   transform: scale(1);}
}
@keyframes bounce-out{
  from {top:0px;}
  to {bottom:0px;}
}
.button {
  text-align: center;
  background: url(./assets/img/bt-back.png);
  background-size: contain;
  background-repeat: repeat;
  place-items: center center;
}

/* modal */
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  overflow: auto;
  border-radius: 0;
  outline: none;
  padding: 0;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
